ul {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: red;
}

#logo {
	height: 100px;
	float: left;
	display: block;
}

#flier {
	float: left;
	display: block;
	height: 350px;
}

.nav-bar {
	position: relative;
	top: 0px;
	border: 1px black;
	padding-left: 25%;
	width: 100%;
	display: inline-block;
}

body {
	font-family:helvetica;
    overflow-x: hidden;
}

.save-the-date {
	display: inline-block;
    padding-top: 25px;
    padding-right: 75px;
}

.title-text {
	color: red;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.what-is-ted-title {
	color: red;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.sub-text {
	color: black;
	font-size: 20px;
	line-height: 28px;
}

.what-is-ted {
	color: black;
	font-size: 16px;
	line-height: 28px;
}

.button {
    background-color: red;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	width: 90px;
	margin: auto;
	display: block;
	margin-top: 10px;
}

.button-text {
	text-decoration: none;
	color: white;
}

.eventbrite {
	margin: auto;
	text-decoration: none;
}

.flier {
	display: inline-block;
}

.first-section {
	display: flex;
	justify-content: center;
}

hr {
    height: 0;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    box-shadow: none;
    border-bottom: none;
    color: #aaa;
    margin: 8px 20px;
    margin-top: 20px;
}
